body {
    background-color: #000000;
    text-align: center;
    margin-left: 47em;
    margin-right: 47em;
}

.h2-title {
    color: white;
    font-family: monospace;
    font-size: 17px;
}
.div-calculator {
    text-align: center;
    margin-top: 8em;
    border: 2px solid white;
    justify-content: center;
    border-radius: 8px;
}

.input-calculator::placeholder {
    font-size: 26px;
    text-align:right;
    color: white;
    font-family: monospace;
    
}

.input-calculator {
background-color: transparent;
border: none;
color: white;
border-radius: 4px;
padding-right: 2em;
text-align: right;
font-size: 26px;
font-family: monospace;
margin: 10px;
}

.calculator-4row {
display: flex;
 justify-content: center;
 gap: 5px;
 padding: 6px;
}

.bt-number {
background-color: #222222;
padding: 1.5em;
color: white;
border: 2px solid black;
border-radius: 360px ;
font-size: 24px;
}

.bt-sign {
background-color: #353535;
padding: 1.5em;
color: white;
border: 2px solid black;
border-radius: 360px ;
font-size: 24px;
}

.bt-signBlock {
background-color: #353535;
padding: 1.5em;
border: 2px solid black;
color: white;
border-radius: 360px ;
font-size: 24px;
}

.bt:active {
background-color: transparent;
transition: all ease-in 40ms;
border-radius: 100px 10px;
}





@media screen and (max-width:768px){
    body {
    margin-left: 1em;
    margin-right: 1em;
    }

    .bt-number {
        padding: 1em ;
        font-size: 30px;
        border-radius: 360px;
    }

    .bt-sign {
        padding: 1em ;
        font-size: 30px;
        border-radius: 360px;
    }

    .bt-signBlock {
        padding: 1em ;
        font-size: 30px;
        border-radius: 360px;
    }

    .input-calculator {
       padding-right: 2em;
    }

    .calculator-4row {
        gap: 2px;
        
    }

    .div-calculator {
        margin-top: 6em;
        border: none;
        
    }
}