body {
    background-color: #0c1b44;
    text-align: center;
    margin-left: 47em;
    margin-right: 47em;
}

.h2-title {
    color: white;
    font-family: monospace;
    font-size: 17px;
}
.div-calculator {
    text-align: center;
    margin-top: 8em;
    border: 2px solid white;
    justify-content: center;
    border-radius: 8px;
}

.input-calculator::placeholder {
    font-size: 1.5em;
    text-align:right;
    color: white;
    font-family: monospace;
    
}

.input-calculator {
background-color: #222222;
border: 1px solid yellow;
color: white;
border-radius: 4px;
padding: 1em 5em;
padding-right: 1em;
margin: 1em;
text-align: right;
font-size: 1.5em;
font-family: monospace;
}

.calculator-4row {
display: flex;
 justify-content: center;
 gap: 1em;
 padding: 1em;
}

.bt-number {
background-color: #222222;
padding: 2.5em;
border-radius: 280px;
border: 2px solid yellow;
color: white;
margin: 0.3em;

}

.bt-sign {
background-color: #222222;
padding: 2em 2.5em;
color: white;
border-radius: 280px ;
}

.bt-signBlock {
background-color: #222222;
padding: 1em 1.5em;
color: white;
border-radius:280px; 
font-size: 20px;
}



@media screen and (max-width:768px){
    body {
    margin-left: 1em;
    margin-right: 1em;
    }

    .bt-number {
        padding: 2.5em;
    }

    .input-calculator {
        padding: 1em 4em;
       padding-right: 0.7em;
    }

    .calculator-4row {
        gap: 0.5em;
        
    }

    .div-calculator {
        margin-top: 6em;
    }
}